<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Xi - Game {{game.id}}</title>
</head>
<body>
  <h2>{{game.id}}. {{game.redPlayer.name}} - {{game.blackPlayer.name}}</h2>
  {{#if game.accepted}}
    TODO
  {{else}}
    This game has not yet been accepted by {{game.invitedPlayer.name}}
  {{/if}}
</body>
</html>
