<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Xi - Games</title>
</head>
<body>
  <h2>Xi</h2>
  <h5>Last deploy: {{deploy}}</h5>
  <p>
    <a href="/games/create">new game</a>
  </p>
  <p>
    <table>
      <thead>
        <th>id</th>
        <th>red</th>
        <th>black</th>
      </thead>
      <tbody>
        {{#each games}}
          <tr>
            <td><a href="/games/{{this.id}}">{{this.id}}</a></td>
            <td>{{this.redPlayer.name}}</td>
            <td>{{this.blackPlayer.name}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </p>
</body>
</html>
